@charset "utf-8";
/* CSS Document */
/*
	@author: Mobic Agência Digital - www.mobic.com.br
	@cliente: Bisa
    1654px
*/

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
         url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Bold.svg#EurostileLTStdExtTwoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Regras para textos*/
label, p, strong, em, a, h1, h2, h3, h4, h5, input, textarea, legend, select, td, thead, caption, span, li
{ font-family: Helvetica, sans-serif; /*color: #FFFFFF; */letter-spacing: 0.02em; }

a:hover { text-decoration:underline; }

body { background: url(../img/bgRed.jpg) repeat-x; background-position: 0 8em; background-color: #d0dfe2; font-size: 10px; }
body.int { background-position: 0 15em; background-color: #d0dfe2; }
body.int2 { background: url(../img/bgRed2.jpg) repeat-x; background-position: 0 20em; background-color: #d0dfe2; }
body.int3 { background-position: 0 20em; background-color: #d0dfe2; }

hr { background-color: #D0DFE2 !important; }

#all { text-align: center; margin-top: 20px; }

#ur {color: #666666; font-family: 'HelveticaNeueBold'; font-size: 30px; font-weight: bold; position: absolute; right: 25px; top: 15px; z-index: 1; }

/*

	MODAL

*/

#modal .sombra { position: fixed; top: 0; left: 0; background: #000; filter: alpha(opacity=50) /*hack para IE*/; opacity:0.5; width: 100%; height: 100%; z-index:100; }
#modal #alert { width: 930px; height: 420px; background-color: #FFFFFF; position: absolute; top: 15%; left: 50%; z-index:110; box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -moz-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -webkit-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; margin-left: -465px; }
.modalHeight { height: 660px !important; top: 5% !important; }
#modal #alert #imgGrande { margin: 40px; }
#modal #alert #confirmar { margin: 40px; text-align: center; }
#modal #alert #modAlert { margin: 40px; text-align: center; }
#modal #alert #confirmar p { color: #666666;  }
#modal #alert #confirmar p strong { color: inherit; }
#modal #alert #confirmar p.numero { font-size: 5em; }
#modal #alert #confirmar p.nome { font-size: 4em; height: 180px; }
#modal #alert #modAlert p.nome { font-size: 4em; height: 180px; color: #000; }
#modal #alert #confirmar a.confirma { background: url(../img/btConfirma.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#modal #alert #confirmar a.modOk { background: url(../img/btOk.png) no-repeat; width: 71px; height: 42px; text-indent: -9999px; display: inline-block; }
#modal #alert #modAlert a.modOk { background: url(../img/btOk.png) no-repeat; width: 71px; height: 42px; text-indent: -9999px; display: inline-block; }
#modal #alert #confirmar a.modConfirma { background: url(../img/btConfirmaEncerramento.png) no-repeat; width: 139px; height: 44px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#modal #alert #confirmar a.modCancela { background: url(../img/btCancelaEncerramento.png) no-repeat; width: 139px; height: 44px; text-indent: -9999px; display: inline-block; }
#modal #alert #confirmar a.corrige { background: url(../img/btCorrige.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; }
#modal #alert a.close { background: url(../img/btFechar.png) no-repeat; width: 32px; height: 32px; display: block; text-indent: -9999px; position: absolute; top: 10px; right: 10px; }

a.btNao { background: url(../img/btCancelaEncerramento.png) no-repeat; width: 139px; height: 44px; }
a.btSim { background: url(../img/btConfirmaEncerramento.png) no-repeat; width: 139px; height: 44px;}


#modalErro .sombraErro { position: fixed; top: 0; left: 0; background: #000; filter: alpha(opacity=50) /*hack para IE*/; opacity:0.5; width: 100%; height: 100%; z-index:100; }
#modalErro #alertErro { width: 930px; height: 470px; background-color: #FFFFFF; position: absolute; top: 15%; left: 50%; z-index:110; box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -moz-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -webkit-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; margin-left: -465px; }
.modalHeight { height: 680px !important; top: 5% !important; }
#modalErro #alertErro #imgGrande { margin: 40px; }
#modalErro #alertErro #confirmarErro { margin: 40px; text-align: center; }
#modalErro #alertErro #modAlertErro { margin: 40px; text-align: center; }
#modalErro #alertErro #confirmarErro p { color: #666666;  }
#modalErro #alertErro #confirmarErro p strong { color: inherit; }
#modalErro #alertErro #confirmarErro p.numero { font-size: 5em; }
#modalErro #alertErro #confirmarErro p.nome { font-size: 4em; height: 180px; }
#modalErro #alertErro #modAlertErro p.nome { font-size: 4em; height: 180px; color: #000; }
#modalErro #alertErro #confirmarErro a.confirma { background: url(../img/btConfirma.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#modalErro #alertErro #confirmarErro a.modOkErro { background: url(../img/btOk.png) no-repeat; width: 71px; height: 42px; text-indent: -9999px; display: inline-block; }
#modalErro #alertErro #modAlertErro a.modOkErro { background: url(../img/btOk.png) no-repeat; width: 71px; height: 42px; text-indent: -9999px; display: inline-block; }
#modalErro #alertErro #confirmarErro a.modConfirma { background: url(../img/btConfirmaEncerramento.png) no-repeat; width: 139px; height: 44px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#modalErro #alertErro #confirmarErro a.modCancela { background: url(../img/btCancelaEncerramento.png) no-repeat; width: 139px; height: 44px; text-indent: -9999px; display: inline-block; }
#modalErro #alertErro #confirmarErro a.corrige { background: url(../img/btCorrige.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; }
#modalErro #alertErro a.close { background: url(../img/btFechar.png) no-repeat; width: 32px; height: 32px; display: block; text-indent: -9999px; position: absolute; top: 10px; right: 10px; }


/*
	CONTENT
*/

#all #content #bgTop, #all #content2 #bgTop, #all #content3 #bgTop, #modal #alert #bgTop { background: url(../img/bgTp.png) no-repeat; width: 690px; height: 24px; position: absolute; top: -24px; right: -5px; }
#all #content #bgRight, #all #content2 #bgRight, #all #content3 #bgRight, #all #content4 #bgRight, #modal #alert #bgRight { background: url(../img/bgRight.png) no-repeat; width: 19px; height: 401px; position: absolute; bottom: 5px; right: -19px; }
#all #content #bgLeft, #all #content2 #bgLeft, #all #content3 #bgLeft, #all #content4 #bgLeft, #modal #alert #bgLeft { background: url(../img/bgLeft.png) no-repeat; width: 19px; height: 401px; position: absolute; top: 0; left: -19px; }
#all #content #bgBottom, #all #content2 #bgBottom, #all #content3 #bgBottom, #all #content4 #bgBottom, #modal #alert #bgBottom { background: url(../img/bgBt.png) no-repeat; width: 690px; height: 43px; position: absolute; bottom: -28px; left: -5px; }

#all #content { text-align: center; padding-left: 35px !important; background-color: #FFFFFF; display: inline-block; min-width: 1100px; min-height: 10px; padding: 20px 0; box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -moz-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -webkit-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; position: relative; }
#all #content #text { position: absolute; left: -4em; top: 5em; left: -1em\9; top: 2em\9; font-size: 70px; -moz-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(-90deg);  }
#all #content ul { list-style-type: none; display: inline-block; text-align: center; /*height: 168px; */vertical-align: middle !important; }
#all #content ul li { display: inline; float: left; margin-right: -9px; }
#all #content ul li.no { float:none; }
#all #content ul li p { color: #000000; }
#all #content ul li p.numCand { font-size: 50px; font-weight: bold; }
#all #content ul li p.partido { font-size: 15px; font-weight: bold; }
#all #content ul li #img { position: relative; }
#all #content ul li #img p { display: inline; background-color: #ec3c00; color: #FFFFFF; position: absolute; bottom: 5px; right: 5px; font-size: 3em; padding: 5px; }

#all #content4 { width: 1320px !important; margin-top: 30px; }
#all #content4 #bgTop2 { background: url(../img/bgTp2.png) no-repeat; width: 900px; height: 24px; position: absolute; top: -24px; right: -5px; }

#all #content #frmCandidato {/*width: 1654px;*/ margin: 0 0;}
#all #content #frmCandidato ul li { margin-bottom: 5px; }
#all #content #frmCandidato ul li a p.nome-candidato { width: 270px; min-height: 26px; font-size: 23px; color: #666; }

#all #botoes { display: block; margin: 25px 0; }
#all #botoes a.branco { background: url(../img/btBranco.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#all #botoes a.nulo { background: url(../img/btNulo.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; }

#all #content #bco, #all #content #null { height: 107px; margin-left: 50px; }
#all #content #bco a.branco { background: url(../img/btBranco.png) no-repeat; width: 150px; height: 66px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#all #content #null a.nulo { background: url(../img/btNulo.png) no-repeat; width: 150px; height: 66px; text-indent: -9999px; display: inline-block; }

#all #logoPrincipal { display: inline-block; position: absolute; left: 17em; top: 20px; }
#all #logoPrincipal2 { display: inline-block; position: absolute; top: 20px; left: 0; right: 0; }
#all #logo { display: inline-block; position: absolute; right: 0; bottom: -50px; }

#all #content2 { background-color: #FFFFFF; display: inline-block; min-width: 1100px; padding: 20px 0; box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -moz-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -webkit-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; position: relative; }
#all #content2 p.voto { font-size: 4.8em; color: #666666; margin-top: 100px; }
#all #content2 p.fim { font-size: 15em; color: #666666; margin: 40px 0 100px; }
#all #content2 p.mensagem { font-size: 5em; color: #666666; margin: 38px auto; width: 1000px; }
#all #content2 img { margin: 40px 0 0 300px; }

#all #content3 { background-color: #FFFFFF; display: inline-block; min-width: 1100px; min-height: 10px; padding: 0 0 20px; box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -moz-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -webkit-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; position: relative; margin-top: 110px; }
#all #content3 #tela01 ul { list-style-type: none; overflow: auto; display: inline-block; margin-top: 70px; }
#all #content3 #tela01 ul li {  }
/*
#all #content3 #tela01 ul li a#emitirZeresima { background: url(../img/btEmitirZeresima.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a#emitirZeresima:hover { background-position: 0 -56px; }
*/
#all #content3 #tela01 ul li a.emitir { background: url(../img/btEmitirZeresima.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.emitir2 { background: url(../img/btEmitir.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.emitir2:hover { background-position: 0 -56px; }
#all #content3 #tela01 ul li a.votacao { background: url(../img/btVotacao.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.votacao:hover { background-position: 0 -56px; }
#all #content3 #tela01 ul li a.encerrar { background: url(../img/btEncerrar.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.encerrar:hover { background-position: 0 -56px; }

#all #content3 #tela01 ul li a.emitirD { background: url(../img/btEmitirZeresimaDisable.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.emitir2D { background: url(../img/btEmitirDisable.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.votacaoD { background: url(../img/btVotacaoDisable.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela01 ul li a.encerrarD { background: url(../img/btEncerrarDisable.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }

#all #content3 #tela02 { min-height: 450px; }
#all #content3 #tela02 #votacaoTopo, #modal #alert #votacaoTopo { background: url(../img/bgVotacao.png) repeat-x; height: 110px; }
#all #content3 #tela02 #votacaoTopo p, #modal #alert #votacaoTopo p { color: #666666; font-size: 3.5em; font-family: 'HelveticaNeueBold'; padding-top: 30px; text-align: center; }
#all #content3 #tela02 #formVotacao { margin-top: 60px; }
#all #content3 #tela02 #formVotacao p { color: #666666; font-size: 3em; padding-top: 65px; font-family: 'HelveticaNeueBold'; }
#all #content3 #tela02 #formVotacao p.subTitle { font-size: 0.8em; padding-top: 0; text-align: center; }
#all #content3 #tela02 #formVotacao p.votantes-urna { float: right; font-size: 12px; }
#all #content3 #tela02 #formVotacao p.votantes-urna span { background: none; font-weight: bold; color: #e73b01; width: 5px; margin: 0; padding: 0; cursor: default; }
#all #content3 #tela02 #formVotacao a.confirma { background: url(../img/btConfirma.png) no-repeat; width: 221px; height: 66px; display: inline-block; text-indent: -9999px; margin: 70px 0 40px; }
#all #content3 #tela02 #formVotacao a.btRetornoMenu { background: url(../img/btRetornoMenu.png) no-repeat; width: 611px; height: 56px; display: inline-block; text-indent: -9999px; }
#all #content3 #tela02 #formVotacao a.btRetornoMenu:hover { background-position: 0 -56px; }
#all #content3 #tela02 #formVotacao p a.encerrar { background: url(../img/btEncerrar.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; margin: auto; }
#all #content3 #tela02 #formVotacao p a.encerrar:hover { background-position: 0 -56px; }
#all #content3 #tela02 #formVotacao #resumo { position: absolute; right: 10px; bottom: 30px; }
#all #content3 #tela02 #formVotacao #resumo table { width: 250px; border: 1px solid #666; border-radius: 5px; }
#all #content3 #tela02 #formVotacao #resumo table tr th { border:  none; font-size: 16px; }
#all #content3 #tela02 #formVotacao #resumo table tr td { color: #666; text-align: left; font-weight: bold; padding: 8px; font-size: 16px; }
#all #content3 #tela02 #formVotacao #resumo table tr td span { background: none; color: #666; cursor: default; }
#all #content3 #tela02 #formVotacao input.candidato { background: url(../img/bgTextField.png) repeat-x; width: 375px; height: 22px; padding: 10px; color: #666666; font-size: 3em; text-transform: uppercase; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 0; margin-left: 300px; }
#all #content3 #tela02 #formVotacao input.btEnviarConfig { background: url(../img/btEnviar.jpg) no-repeat; width: 221px !important; height: 46px; padding: 10px; color: #666666; font-size: 3em; text-transform: uppercase; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 0; margin-left: 300px; }
#all #content3 #tela02 #formVotacao .bt-enviar { background: url(../img/btGRavar.png) repeat-x; width: 221px; height: 46px; border: none; display: block; text-indent: -9999px; margin: 0 auto; margin-bottom: 30px; margin-top: 30px; cursor: pointer; }
#all #content3 #tela02 #formVotacao .bt-enviar:hover { background-position: 0 -46px; }
#all #content3 #tela02 #formVotacao ul li a.voltar { background: url(../img/btVoltar.png) no-repeat; width: 221px; height: 46px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela02 #formVotacao ul li a.voltar:hover { background-position: 0 -46px; }

#all #content3 #tela02 #formVotacao span { background: url(../img/btOk.png) no-repeat;  width: 71px; height: 42px; border: 0; cursor: pointer; margin-left: 20px; }
#all #content3 #tela02 #formVotacao table.exibicao {margin-left: 100px; font-size: 20px; width: 600px; border: none; }
#all #content3 #tela02 #formVotacao table.exibicao tr.head td { border-bottom: 1px solid #666; }
#all #content3 #tela02 #formVotacao table.exibicao td {text-align: left; border: 0; color: #666; }
#all #content3 #tela02 #formVotacao table.exibicao input {font-size: 0.8em; margin-left: 0; width: 100px; }
#all #content3 #tela02 #formVotacao ul.ulListagem { list-style-type: none; overflow: auto; display: inline-block; margin-top: 10px; width: 700px; }
#all #content3 #tela02 #formVotacao ul.ulListagem li { padding: 20px;}
#all #content3 #tela02 #formVotacao ul.ulListagem li a.confirma { background: url(../img/btConfirmaVotoCorrespondencia.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; margin-right: 35px; }
#all #content3 #tela02 #formVotacao ul.ulListagem li a.cancelar { background: url(../img/btCorrige.png) no-repeat; width: 221px; height: 66px; text-indent: -9999px; display: inline-block; margin-right: 35px; }

#all #content3 #tela02 #formVotacao ul { list-style-type: none; overflow: auto; display: inline-block; margin-top: 10px; }
#all #content3 #tela02 #formVotacao ul li a.apuracaoManual { background: url(../img/btApuracaoManual.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px;}
#all #content3 #tela02 #formVotacao ul li a.apuracaoManual:hover { background-position: 0 -56px; }
#all #content3 #tela02 #formVotacao ul li a.apuracaoBu { background: url(../img/btApuracaoBu.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px;}
#all #content3 #tela02 #formVotacao ul li a.apuracaoBu:hover { background-position: 0 -56px; }
#all #content3 #tela02 #formVotacao ul li a.apuracaoVotoSeparado { background: url(../img/btApuracaoVotoSeparado.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px;}
#all #content3 #tela02 #formVotacao ul li a.apuracaoVotoSeparado:hover { background-position: 0 -56px; }



#all #content3 #tela02 #formVotacao table.config {margin-left: 100px;}
#all #content3 #tela02 #formVotacao table.config tr.head td { border-bottom: 1px solid #666; }
#all #content3 #tela02 #formVotacao table.config td {text-align: left; border: 0;}
#all #content3 #tela02 #formVotacao table.config input {font-size: 0.8em; margin-left: 0; width: 221px;}

#all #content3 #tela02 #formVotacao ul li a.apuracaoDispositivo { background: url(../img/btapuracaoDispositivo.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela02 #formVotacao ul li a.apuracaoDispositivo:hover { background-position: 0 -56px; }

#all #content3 #tela02 #formVotacao ul li a.voltarMenu { background: url(../img/btVoltarMenu.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#all #content3 #tela02 #formVotacao ul li a.voltarMenu:hover { background-position: 0 -56px; }
#all #content3 #tela02 { min-height: 450px; }

#all #content3 #tela02 #zonas table tr td {padding-left: 40px;}
#all #content3 #tela02 #zonas a.zona { background: url(../img/fundo.jpg) no-repeat; width: 50px; height: 30px; display: block; font-size: 0.6em; font-weight: bold; color: #FFF; padding: 10px 50px; }
#all #content3 #tela02 #zonas a.zona:hover { background-position: 0 -46px; }

#all #content3 #tela03 #votacaoTopo { background: url(../img/bgVotacao.png) repeat-x; height: 110px; }
#all #content3 #tela03 #votacaoTopo p { color: #666666; font-size: 4.5em; font-family: 'HelveticaNeueBold'; padding-top: 30px; }
#all #content3 #tela03 #formVotacao { margin-top: 60px; }
#all #content3 #tela03 #formVotacao p { color: #666666; font-size: 3em; padding-top: 65px; font-family: 'HelveticaNeueBold'; }
#all #content3 #tela03 #formVotacao a.cancela { background: url(../img/btCancela.png) no-repeat; width: 221px; height: 66px; display: inline-block; text-indent: -9999px; margin: 70px 0 40px; }
#all #content3 #tela03 #formVotacao textarea { background: url(../img/bgTextArea.png) repeat-x; width: 375px; height: 122px; padding: 10px; color: #666666; font-size: 1.8em; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 0; margin-left: 355px; }
#all #content3 img#acessibilidade {width: 50px; height: 50px; float: right; margin-right: 25px}

#all #content3 #tela04 #votacaoTopo { background: url(../img/bgVotacao.png) repeat-x; height: 110px; }
#all #content3 #tela04 #votacaoTopo p { color: #666666; font-size: 2.5em; font-family: 'HelveticaNeueBold'; padding-top: 20px; }
#all #content3 #tela04 #formVotacao { margin-top: 60px; font-family: 'HelveticaNeueBold'; }
#all #content3 #tela04 #formVotacao p { color: #666666; font-size: 3em; padding-top: 65px; }
#all #content3 #tela04 #formVotacao .login { background: url(../img/btLogin.png) no-repeat; width: 221px; height: 66px; display: inline-block; text-indent: -9999px; margin: 70px 0 40px; border: none; }
#all #content3 #tela04 #formVotacao input { background: url(../img/bgTextField.png) repeat-x; width: 375px; padding: 10px; color: #666666; font-size: 1.8em; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 0; margin: 0 0 20px 355px; }
#all #content3 #tela04 #formVotacao .ok { background: url(../img/btOk.png) no-repeat; width: 71px; height: 42px; display: inline-block; text-indent: -9999px; margin: 70px 0 40px; border: none }
#all #content3 #tela04 #formVotacao .alert { font-size: 20px; }


#all #content4 { background-color: #FFFFFF; display: inline-block; min-width: 1100px; min-height: 10px; padding: 0 0 20px; box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -moz-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; -webkit-box-shadow: 0 0 5px #CCCCCC, inset 0 0 100px #c8dade; position: relative; margin: 20px 0 30px; }
#all #content4 p.title { color: #666666; font-size: 3em; font-family: 'HelveticaNeueBold'; }
#all #content4 p.subTitle { color: #666666; font-size: 2.5em; font-family: 'HelveticaNeueBold'; }


/*
    TABLE's
*/

#table { width: 960px; max-height: 590px; overflow: auto; margin: 50px auto; }
#table2 { width: 820px; max-height: 470px; overflow: auto; margin: 50px auto; }
#table3 { width: 620px; margin: 20px 20px 10px; }
#table3 tr { height: 70px; font-size: 25px; }

table.urna { border-collapse: collapse; font-family: 'HelveticaNeueBold'; font-size: 3em; color: #666666; }
table.urna img { vertical-align: middle; }
table.urna tr { height: 20px; }
table.urna th { border: 1px solid #95aaaf; background-color: #9dbfc6; text-align: center; font-family: 'HelveticaNeueBold'; font-size: inherit; color: #FFF; padding: .4em; }
table.urna tbody td, tbody th { padding: 0.4em; font-family: 'HelveticaNeueBold'; font-size: inherit; color: inherit; text-align: center; border: 1px solid #95aaaf; }
table.urna tbody tr.bg { background-color: #dbe3e5; }
table.urna tbody td a { background: transparent; text-decoration: none; color: inherit; margin-left: 20px; }
table.urna tbody td a:hover { text-decoration: none; }
table.urna tbody td.a { width: 20%; }
table.urna tbody td.b { width: 60%; text-align: left; padding-left: 20px; }
table.urna tbody td.c { width: 20%; }


table.exibicao, table.config { border-collapse: collapse; font-family: 'HelveticaNeueBold'; font-size: 3em; color: #666666; }
table.exibicao, table.config img { vertical-align: middle; }
table.exibicao, table.config tr { height: 20px; }
table.exibicao, table.config tbody td, tbody th { padding: 0.3em; font-family: 'HelveticaNeueBold'; font-size: inherit; color: inherit; text-align: center; border: 1px solid #95aaaf; }
table.exibicao, table.config tbody tr.bg { background-color: #dbe3e5; }
table.exibicao, table.config tbody td a { background: transparent; text-decoration: none; color: inherit; margin-left: 20px; }
table.exibicao, table.config tbody td a:hover { text-decoration: none; }
table.exibicao, table.config tbody td.a { width: 10%; }
table.exibicao, table.config tbody td.b { width: 80%; text-align: left; padding-left: 20px; }
table.exibicao, table.config tbody td.c { width: 10%; }


#loaderPesquisaEleitor { margin: 0 auto; padding-top: 50px; display: none; }

#ttVotos { font-family: Helvetica, sans-serif; font-size: 20px; color: #000; font-weight: bold; }

#ttVotos span { color: #ec3c01; background: #fff; padding: 0 5px; }

#impressaoFinal { width: 1100px; overflow: auto;  }
#impressaoFinal ul { list-style-type: none; overflow: auto; display: inline-block; }
#impressaoFinal ul li a.btEmissaoFinal { background: url(../img/btImpressaoFinal.png) no-repeat; width: 611px; height: 56px; display: block; text-indent: -9999px; margin-bottom: 30px; }
#impressaoFinal ul li a.btEmissaoFinal:hover { background-position: 0 -56px; }

.w70 { width: 70px !important; }
.w120 { width: 130px !important; }
.result { font-size: 14px !important; }
/**************url("../img/fotos/prtb.png")

	CHAPAS E CANDIDATOS

**************/

#all #content #frmCandidato ul li div#img img { width:200px; }
.tituloEleicao { font-family: Helvetica, sans-serif; font-size: 36px; color: #000; font-weight: bold; text-align: center; }
#all #content #frmCandidato ul li.candidato p.nome-candidato {display: block; font-size: 23px; font-weight: bold; margin: 0px auto 0; width: 185px; }


.errorMirror { font-size: 16px !important; color: red !important; text-align: center !important; padding-left: 150px; display: none; }
.errorMirror .btError { width: 30px; height: 30px; background: url('../img/btTransparente.png') no-repeat; border: none; }

.none { display: none; }
#naoLiberar { display: none; margin-left: 40px; }

.visibility { visibility: hidden; }
.table thead th { color: #000000; font-weight: bold; }
.table td { color: #000000; }

.content-admin { width: 50%; margin: 20px; text-align: left; }
.content-admin label { color: #000; }

.form-group { padding: 10px !important; }

.breadcrumb { background: none !important; text-align: left; }
.breadcrumb li.active a { color: #000 !important; }
.fRigth { position: absolute; right: 0 }

.letter_pdf, .letter_mail { font-weight: bold; color: #ec3c01; text-transform: uppercase; }

.apuracaofinal-lista { padding-top: 50px; }
.apuracaofinal-lista li { display: inline-block; list-style: none; padding: 10px; }
.apuracaofinal { display: none; }


#loadingOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #fff;
    border-top: 6px solid #ec3c01;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    /* FORÇA CENTRALIZAÇÃO */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

